<!-- src/main/resources/beans.xml -->
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 1) Property Injection -->
    <bean id="user" class="com.example.model">
        <property name="name" value="chonnawee prachan"/>
        <property name="value" value="30"/>
    </bean>

    <!-- 2) Constructor Injection (เลือกใช้ 1 ใน 2 วิธี) -->
    <!--
    <bean id="helloService" class="com.example.demo.service.HelloService">
        <constructor-arg name="name" value="Thanakrit"/>
        <constructor-arg name="value" value="42"/>
    </bean>
    -->
</beans>
