<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymealeaf.org">
<head>
<title>Show Cities</title>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>
<h2>List of Authors</h2>
<table>
<tr>
<th>Id</th>
<th>Name</th>
<th>Email</th>
</tr>
<tr th:each = "author:${authors}">
<td th:text="${author.id}"></td>
<td th:text="${author.name}"></td>
<td th:text="${author.email}"></td>
<td>
     <a th:href="@{'/web/createauthor'}">Add</a> |
     <a th:href="@{'/web/authors/' + ${author.id}}">View</a> |
    <a th:href="@{'/web/editauthor/' + ${author.id}}">Edit</a> |
    <a th:href="@{'/web/deleteauthor/' + ${author.id}}">Delete</a>
  </td>
</tr>
</table>
</body>
</html>